root = true

[*.{ts,js,html,css,json,frag,svelte}]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
insert_final_newline = true
# Do not `trim_trailing_whitespace = true` because that causes vscode
# to annoyingly trim the line your cursor is on, when you save.
